*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    background-color: rgb(8, 238, 50);
    /* width: 400px;
    height: 500 ; */
    width: 80vw;
    height: 80vh;
    border: 20px solid red;
    font-size: 200px;
}
.child{
    background-color: blue;
    width: 50%;     
    margin: auto;
    font-size: 200px;
}